body {
    font-family: Arial, sans-serif;
    line-height: 1.6;
    margin: 20px;
    padding: 0;
    background-color: #000000;
    color: #ffffff;
}
h1 {
    color: #a860ec;
}
h2 {
    color: #a860ec;
}
h3 {
    color: #a860ec;
}
a {
    color: #2feab2;
}
ol {
    padding-left: 20px;
}
li {
    margin-bottom: 10px;
}